dataset/
fixed length attention/
venv/
__pycache__/
.vscode/
.idea/
*.swp
.DS_Store
*.pth
!spec/*.json
code_torch/best_model.pth
pose_landmarker.task
predict.py
Biomech_feature_based/svm.py
fall_feature.py
test.py
pose_estimation_single.py
fall_feature.py
pose_estimation_single.py
README.txt
predict.py
# *.txt
*.sh
*.csv
*.avi
*.log
# Train_X_fall.csv
# Train_y_fall.csv
test.py
*.pyc
STGCN_LSTM/__pycache__/
figures/
models/
figures_nn/
STGCN_LSTM_DyAtt/
fall_dataset_preprocessed/
Biomech_feature_based/Train_X.csv
Biomech_feature_based/Train_Y.csv
Biomech_feature_based/model_cnn.py
Biomech_feature_based/model_lstm.py