dataset/
fixed length attention/
venv/
*.pth
!spec/*.json
code_torch/best_model.pth
pose_landmarker.task
# *.txt
*.sh
*.csv
*.avi
*.log
# STGCN_LSTM/Train_X_openpose.csv
# STGCN_LSTM/Train_Y_openpose.csv
# Train_X_fall.csv
# Train_y_fall.csv
test.py
*.pyc
STGCN_LSTM/__pycache__/
figures/
models/
fall_dataset_preprocessed/